@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --font-main: 'Poppins', sans-serif;
}
body {
    font-family: var(--font-main);
    letter-spacing: 0.3px;
}

:root {
    --primary-color: #c850c0;
    --secondary-color: #ffb3d9;
    --text-color: #333;
    --background-color: #ffe6f2; 
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Arial, sans-serif;
}
